
#game-board {
    
    border: 1em solid black;
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    gap: 2px;
    
}

button {
    display: flex;
    height: 32.3%;
    width: 32.3%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 9em;
    margin: 0;
    padding: 0;
    
    
}
